.container {
  width: 80%;
  margin: auto;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Ajusta este valor según sea necesario */
  justify-content: center;
}

.product {
  width: 200px; /* Ajusta este valor según sea necesario */
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column; /* Asegurarse de que los elementos se apilen verticalmente */
}

.product-image {
  width: 100%; /* Ancho relativo al contenedor .product */
  max-height: 150px; /* Altura máxima para la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin perder proporciones */
  margin-bottom: 15px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-name {
  font-size: 1.1em;
  margin: 0;
}

.product-collection {
  font-size: 0.9em;
  color: #666;
}

.product-price {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Espacio arriba de los controles */
  margin-bottom: 20px; /* Espacio debajo de los controles */
}

.pagination-controls button {
  background-color: #ffffff; /* Fondo blanco para los botones */
  color: #333; /* Texto en color gris oscuro */
  border: 1px solid #ccc; /* Borde sutil para los botones */
  padding: 5px 10px; /* Espaciado dentro de los botones */
  margin: 0 5px; /* Espaciado entre botones */
  cursor: pointer; /* Cursor tipo puntero para indicar que es clickeable */
  font-weight: bold; /* Texto en negrita para mejor legibilidad */
  transition: background-color 0.3s, color 0.3s; /* Transición suave para hover y active */
}

.pagination-controls button:hover:not([disabled]) {
  background-color: #e0d5b1; /* Color de fondo crema más saturado al pasar el ratón por encima */
  color: #333; /* Color de texto gris oscuro al pasar el ratón por encima */
}


.pagination-controls button:disabled {
  color: #ccc; /* Color gris claro para indicar desactivado */
  cursor: not-allowed; /* Cursor que indica que el botón está deshabilitado */
}

.pagination-controls button.active {
  background-color: #f5f5dc; /* Fondo color crema para el botón activo */
  color: #333; /* Texto en color gris oscuro para el botón activo */
  border-color: #f5f5dc; /* Borde del mismo color que el fondo para el botón activo */
}

footer small a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
}

footer small a:hover {
  text-decoration: underline;
}

.product button {
  background-color: transparent; /* Fondo transparente para integrarse con el fondo blanco */
  color: #333; /* Color gris oscuro para el texto del botón */
  border: none; /* Sin borde para integrarse con el fondo */
  padding: 10px 15px; /* Espaciado interno para el botón */
  cursor: pointer; /* Cursor tipo puntero para indicar que es clickeable */
  transition: color 0.3s; /* Transición suave para el color de texto */
  font-weight: bold; /* Texto en negrita para mejor legibilidad */
  font-size: 1rem; /* Tamaño del texto del botón */
  line-height: 1; /* Ajuste de altura de línea para el botón */
  display: block; /* Hacer que el botón sea un bloque para permitir el centrado automático */
  margin: 10px auto; /* Espacio automático en los lados para centrar el botón */
  text-align: center; /* Asegurar que el texto está centrado dentro del botón */
}

.product button:hover {
  color: #007bff; /* Cambiar el color del texto al pasar el ratón por encima */
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sort-container {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
