<main class="container">
  <h2>Catálogo de Productos</h2>
  <div class="search-container">
    <label for="searchInput">Buscar:</label>
    <input type="text" id="searchInput" [(ngModel)]="textoBusqueda" placeholder="Buscar...">
    <button (click)="buscar()">Buscar</button>
  </div>
  
  <div class="sort-container">
    <label for="sortMenu">Ordenar por:</label>
    <select id="sortMenu" (change)="ordenar(sortMenu.value)" #sortMenu>
      <option value="precioAsc">Precio: bajo a alto</option>
      <option value="precioDesc">Precio: alto a bajo</option>
      <option value="alfabetico">Categoría</option>
    </select>
  </div>
  
  <div class="pagination-controls">
    <button (click)="anteriorPagina()" [disabled]="paginaActual === 1">&lt;</button>
    <button *ngFor="let num of obtenerNumerosDePagina()" (click)="irAPagina(num)" [class.active]="num === paginaActual">{{ num }}</button>
    <button (click)="siguientePagina()" [disabled]="paginaActual === totalPaginas()">&gt;</button>
  </div>
  <div id="products-grid" class="product-grid">
    <!-- Productos en un contenedor flex -->
    <div class="product" *ngFor="let pro of productosFiltrados | slice:(paginaActual - 1) * productosPorPagina : paginaActual * productosPorPagina">
      <img [src]="pro.url" alt="Imagen del producto">
      <p>{{ pro.nombre }}</p>
      <p>{{ pro.categoria }}</p>
      <p>{{ pro.precio }}</p>
      <button (click)="agregarAlCarrito(pro)">+</button> <!-- Botón añadir al carrito -->
    </div>
  </div>
</main>

<footer class="container">
  <small>
    <a href="#">Sobre la tienda</a> • 
    <a href="#">Términos y Condiciones</a>
  </small>
</footer>
